
<div class="footer">
    <div class="section1">
        <h2>Contact info:-</h2>
        <div mat-icon-button>
            <mat-icon>call</mat-icon>&nbsp;<strong style="font-size: large;"><a href="tel:+918367339798">+91 8367339798</a></strong>
        </div>
        <div mat-icon-button>
            <p><mat-icon>email</mat-icon>&nbsp; <a href="mailto:mallachanikya22@gmail.com">mallachanikya22@gmail.com</a></p>
            <p><mat-icon>email</mat-icon>&nbsp;<a href="mailto:mallasatish2001@gmail.com">mallasatish2001@gmail.com</a></p>
        </div>
    </div>
    <div class="section2">
        <h2>Back to pages</h2>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/skills" routerLinkActive="active">Skills</a>
    </div>
    <div class="section3">
        <h2>Accounts</h2>
        <div mat-icon-button>
            <a href="https://www.linkedin.com/in/malla-chanikya-satish-506ba4269"><strong style="font-size: large;">LinkedIn</strong></a>
        </div><br>
        <div mat-icon-button>
            <a href="https://github.com/chanikya23"><strong style="font-size: large;">GitHub</strong></a>
        </div>
    </div>
</div>