<div class="about">
    <div class="myinfo">
    <h2>About Myself:-</h2>
    <h4>Hello, I am Chanikya Satish Malla, a <b>software developer</b> with <strong>one year of experience</strong>,<br> specializing in frontend technologies. I have expertise in HTML, CSS, JavaScript,
        Angular, TypeScript,<br> React, Bootstrap, and other frontend frameworks. <br>I am passionate about creating interactive and user-friendly web applications.<br>
        My experience has sharpened my skills in collaborating effectively with team members and delivering high-quality projects. <br>I am known for my strong communication and presentation skills.</h4>
        <h4>
        Feel free to contact me if you have any questions or opportunities!</h4>
    <button mat-flat-button>
        <mat-icon>call</mat-icon>
        <a href="tel:+918367339798">+91 8367339798</a>
    </button>
</div>
<div class="mypic">
    <img src="../../assets/images/pic2.jpg">
</div>
</div>
