<div class="home-container">
    
    <div class="image-content">
            <img src="../../assets/images/pic1.jpg" alt="Chanikya Satish Malla">
    </div> 
    <div class="intro">
      <div class="text-content">
          <h1>Software Developer</h1>
          <h2>Myself: Chanikya Satish Malla</h2>
          <h2>I'm a 
            <span #typedElement></span>
          </h2><br>
          <p>I am a software developer specializing in UI development with one year of experience. 
            I excel in creating user-friendly and interactive web applications.</p>
            <hr> 
        </div>
      <div class="details">
        <button mat-flat-button>
        <mat-icon>download</mat-icon>
        <a mat-button href="../../assets/Chanikya Satish.pdf" download="Chanikya_Satish.pdf">Download CV</a>
        </button>&nbsp;
        <button mat-flat-button>
        <mat-icon>email</mat-icon>&nbsp;<a mat-button href="mailto:mallachanikya22@example.com">Email</a>
        </button>&nbsp;
        <button mat-flat-button>
          <a mat-button  routerLink="/contact" routerLinkActive="active">Hire Me</a>
        </button>
    </div>
  </div>
</div>
